#login-page {
	background: rgb(0, 151, 244);
	background: linear-gradient(
		180deg,
		rgba(0, 151, 244, 1) 0%,
		rgba(35, 35, 241, 1) 100%
	);
	height: 100vh;
}

#login-card {
	background-color: white;
	width: 25rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 3rem;
	border-radius: 10px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#login-card h2 {
	margin-bottom: 20px;
}

#login-card h2 {
	margin-bottom: 20px;
}

#login-card > .login-button {
	background-color: rgba(0, 151, 244, 1);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.75rem;
	border-radius: 10px;
	color: #fff;
	gap: 5px;
	width: fit-content;
	cursor: pointer;
}

#login-card > .facebook {
	background-color: rgba(35, 35, 241, 1);
}

.logout-tab {
	cursor: pointer;
}
